body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #eaf2f8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #333;
    font-size: 28px;
    margin: 0;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f8f8f8;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a:hover {
    background-color: #ddd;
}

main {
    padding: 20px;
    background-color: #fff;
}

section {
    display: none;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-top: 0;
}

p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
}

ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #eaf2f8;
    padding: 20px;
    text-align: center;
}

footer p {
    color: #555;
    font-size: 14px;
}
